/* ========================= */
/* GLOBAL ANIMATION */
/* ========================= */

.fadeIn{

animation:fadeIn .8s ease;

}

.fadeOut{

animation:fadeOut .8s ease forwards;

}

.scaleIn{

animation:scaleIn .5s ease;

}

.float{

animation:float 4s ease-in-out infinite;

}

.rotate{

animation:rotateGalaxy 35s linear infinite;

}

.glow{

animation:glow 2s ease-in-out infinite alternate;

}

.twinkle{

animation:twinkle 2.5s ease-in-out infinite;

}

.shooting{

animation:shootingStar 3s linear forwards;

}

.heartBeat{

animation:heartBeat 1.5s infinite;

}

/* ========================= */
/* KEYFRAMES */
/* ========================= */

@keyframes fadeIn{

from{

opacity:0;

}

to{

opacity:1;

}

}

@keyframes fadeOut{

from{

opacity:1;

}

to{

opacity:0;

}

}

@keyframes scaleIn{

0%{

transform:scale(.7);

opacity:0;

}

100%{

transform:scale(1);

opacity:1;

}

}

@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

}

@keyframes rotateGalaxy{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}

@keyframes glow{

0%{

filter:drop-shadow(0 0 5px white);

}

100%{

filter:drop-shadow(0 0 25px #a58cff);

}

}

@keyframes twinkle{

0%,100%{

opacity:.3;

transform:scale(.8);

}

50%{

opacity:1;

transform:scale(1.4);

}

}

@keyframes shootingStar{

0%{

opacity:0;

transform:
translate(-150px,-150px)
rotate(45deg);

}

10%{

opacity:1;

}

100%{

opacity:0;

transform:
translate(1800px,1000px)
rotate(45deg);

}

}

@keyframes heartBeat{

0%{

transform:scale(1);

}

50%{

transform:scale(1.15);

}

100%{

transform:scale(1);

}

}

@keyframes sparkle{

0%{

opacity:0;

transform:scale(.5);

}

50%{

opacity:1;

transform:scale(1.5);

}

100%{

opacity:0;

transform:scale(.5);

}

}

@keyframes popupOpen{

0%{

opacity:0;

transform:translateY(40px) scale(.8);

}

100%{

opacity:1;

transform:translateY(0) scale(1);

}

}

@keyframes popupClose{

0%{

opacity:1;

transform:scale(1);

}

100%{

opacity:0;

transform:scale(.8);

}

}

@keyframes zoomIntoGalaxy{

0%{

transform:scale(1);

opacity:1;

}

100%{

transform:scale(20);

opacity:0;

}

}

@keyframes constellationLine{

from{

stroke-dashoffset:1000;

}

to{

stroke-dashoffset:0;

}

}

@keyframes heartExplosion{

0%{

transform:scale(0);

opacity:0;

}

50%{

transform:scale(1.3);

opacity:1;

}

100%{

transform:scale(1);

opacity:1;

}

}
