/* ========================= */
/* PUZZLE */
/* ========================= */

.puzzleContent{

max-width:900px;

}

#puzzleArea{

width:420px;
height:420px;

margin:25px auto;

display:grid;

grid-template-columns:repeat(4,1fr);
grid-template-rows:repeat(4,1fr);

gap:4px;

}

.puzzlePiece{

width:100%;
height:100%;

border-radius:10px;

cursor:pointer;

background-size:420px 420px;

transition:.25s;

box-shadow:
0 0 10px rgba(255,255,255,.2);

}

.puzzlePiece:hover{

transform:scale(1.04);

box-shadow:
0 0 18px rgba(255,255,255,.45);

}

.puzzlePiece.correct{

animation:pieceGlow .5s;

}

#heartEnding{

display:none;

font-size:90px;

margin-top:25px;

animation:heartPop .8s ease;

}

#finishText{

display:none;

margin-top:18px;

font-size:22px;

color:white;

line-height:1.7;

animation:fadePuzzle 1s;

}

/* ========================= */
/* COMPLETE EFFECT */
/* ========================= */

.complete{

animation:completeFlash 1.2s;

}

/* ========================= */
/* ANIMATION */
/* ========================= */

@keyframes pieceGlow{

0%{

transform:scale(.9);

opacity:.6;

}

50%{

transform:scale(1.08);

box-shadow:
0 0 20px #ffffff,
0 0 35px #8f83ff;

}

100%{

transform:scale(1);

opacity:1;

}

}

@keyframes heartPop{

0%{

transform:scale(0);

opacity:0;

}

70%{

transform:scale(1.25);

opacity:1;

}

100%{

transform:scale(1);

}

}

@keyframes fadePuzzle{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@keyframes completeFlash{

0%{

filter:brightness(1);

}

25%{

filter:brightness(2);

}

50%{

filter:brightness(1.4);

}

100%{

filter:brightness(1);

}

}
